name: build

on: [push, pull_request]

jobs:
  build:
    uses: charmbracelet/meta/.github/workflows/build.yml@main

  snapshot:
    uses: charmbracelet/meta/.github/workflows/snapshot.yml@main
    secrets:
      goreleaser_key: ${{ secrets.GORELEASER_KEY }}

  govulncheck:
    uses: charmbracelet/meta/.github/workflows/govulncheck.yml@main
    with:
      go-version: stable

  semgrep:
    uses: charmbracelet/meta/.github/workflows/semgrep.yml@main

  ruleguard:
    uses: charmbracelet/meta/.github/workflows/ruleguard.yml@main
    with:
      go-version: 1.23.6
